<div class="modal fade" id="ownerDetailDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="modalLabel">Ver informações do proprietário</h4>
          </div>
          <div class="modal-body">
<!--
              <div class="row" style="margin-top:2vh;">
                  <div class="col-sm-12">
                      <div class="form-content" *ngIf="ownerData">
                          
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="groupOwnerId">Proprietário :</label>
                                      <input type="text" [ngModel]="ownerData.groupOwnerId" disabled>
                                  </div>                                    
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="companyName">Razão social :</label>
                                      <input type="text" [ngModel]="ownerData.companyName" disabled>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">               
                                  <div class="form-group">
                                      <label for="businessName">Nome Fantasia :</label>
                                      <input type="text" [ngModel]="ownerData.businessName" disabled>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="companyId">CNPJ :</label>
                                      <input type="text" [ngModel]="ownerData.businessName" disabled>
                                 </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="address">Logradouro :</label>
                                      <input type="text" [ngModel]="ownerData.businessName" disabled>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="addressComplement">Complemento :</label>
                                  </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="addressNeighborhood">Bairro :</label>
                                      <input type="text" [ngModel]="ownerData.businessName" disabled>
                                  </div>
                              </div>                                        
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <divclass="form-group">
                                      <label for="cityName">Cidade :</label>
                                      <input type="text" [ngModel]="ownerData.cityName" disabled>
                                  </div>
                              </div>                    
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="stateCode">Estado :</label>
                                      <input type="text" [ngModel]="ownerData.stateCode" disabled>
                                  </div>
                              </div>                                        
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="siteAddress">Site :</label>
                                      <input type="text" [ngModel]="ownerData.siteAddress" disabled>
                                  </div>
                              </div>                                    
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="contact">Contato :</label>
                                      <input type="text" [ngModel]="ownerData.contact" disabled>
                                  </div>
                              </div>                                    
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="emailAddress">Email de contato:</label>
                                      <input type="text" [ngModel]="ownerData.emailAddress" disabled>                                    
                                  </div>
                              </div>                                        
                          </div>    
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="phoneNumber">Fone comercial :</label>
                                      <input type="text" [ngModel]="ownerData.phoneNumber" disabled>
                                  </div>
                              </div>                    
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="cellphoneNumber">Celular comercial :</label>
                                      <input type="text" [ngModel]="ownerData.cellphoneNumber" disabled>
                                  </div>
                              </div>                    
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="additionalInfo">Informações adicionais :</label>
                                      <textarea [ngModel]="ownerData.additionalInfo" disabled></textarea>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-check">
                                      <input [(ngModel)]="frmAddCompany.status" type="checkbox" 
                                              class="form-check-input" id="status" value="">
                                      <label class="form-check-label" for="status">Ativo? :</label>
                                  </div>
                              </div>                                        
                          </div>  
                      </div>
                  </div>
              -->                    
              </div>

          <div class="modal-footer detail-footer-box">

              <div class="container-fluid">
                  <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                      <button id="btnExit" type="button" data-dismiss="modal" (click)="hide()" class="btn btn-danger btn-block">Sair</button>
                  </div>
                  </div>
              </div>
  
          </div>
      </div>
  </div>
</div>
  
