<div class="modal fade" id="terminalDetailDialog" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="modalLabel">Ver informações do terminal</h4>
          </div>
          <div class="modal-body">
<!--
              <div class="row" style="margin-top:2vh;">
                  <div class="col-sm-12">
                      <div class="form-content" *ngIf="terminalData">
                          
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="terminalId">Código do terminal :</label>
                                      <input type="text" [ngModel]="terminalData.terminalId" disabled>
                                  </div>
                              </div>                                    
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="userName">Técnico responsável :</label>
                                      <input type="text" [ngModel]="terminalData.userName" disabled>
                                  </div>
                              </div>                                    
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="emailAddress">Email do técnico:</label>
                                      <input type="text" [ngModel]="terminalData.emailAddress" disabled>                                    
                                  </div>
                              </div>                                        
                          </div>    
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="cellPhoneNumber">Celular do técnico :</label>
                                      <input type="text" [ngModel]="terminalData.cellPhoneNumber" disabled>
                                  </div>
                              </div>                    
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="creationDate">Data :</label>
                                      <input type="text" [ngModel]="terminalData.creationDate" disabled>
                                  </div>
                              </div>                    
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="groupOwnerId">Proprietário :</label>
                                      <input type="text" [ngModel]="terminalData.groupOwnerId" disabled>
                                  </div>                                    
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="groupId">Grupo :</label>
                                      <input type="text" [ngModel]="terminalData.groupId" disabled>
                                  </div>                                    
                              </div>    
                          </div> 
                                  
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="companyName">Empresa :</label>
                                      <input type="text" [ngModel]="terminalData.companyName" disabled>
                                  </div>                                    
                              </div>    
                          </div> 

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="unitName">Filial/Unidade :</label>
                                      <input type="text" [ngModel]="terminalData.unitName" disabled>
                                  </div>                                    
                              </div>    
                          </div> 


                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-group">
                                      <label for="additionalInfo">Informações adicionais :</label>
                                      <textarea [ngModel]="terminalData.additionalInfo" disabled></textarea>
                                  </div>
                              </div>
                          </div>

                          <div class="row">
                              <div class="col-md-12">
                                  <div class="form-check">
                                      <input [(ngModel)]="frmAddCompany.status" type="checkbox" 
                                              class="form-check-input" id="status" value="">
                                      <label class="form-check-label" for="status">Ativo? :</label>
                                  </div>
                              </div>                                        
                          </div>  
                      </div>
                  </div>
              -->                    
              </div>

          <div class="modal-footer detail-footer-box">

              <div class="container-fluid">
                  <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                      <button id="btnExit" type="button" data-dismiss="modal" (click)="hide()" class="btn btn-danger btn-block">Sair</button>
                  </div>
                  </div>
              </div>
  
          </div>
      </div>
  </div>
</div>
  
