<rs-text-dialog></rs-text-dialog>
<ng-vk-keyboard
    (onEnterClicked)="onEnterClicked($event)"
    (onCancelClicked)="onCancelClicked($event)">
</ng-vk-keyboard>

<div class="container">

    <div class="row" style="margin-top:2vh">

        <div class="col-sm-12">
            <div class="form-header">
                <div class="text-center">Troca de senha</div>
            </div>
        </div>

    </div>
    
    <form>

        <div class="row" style="margin-top:2vh;">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">

                <div class="form-content">

                    <div *ngIf="useVK === true" class="form-group">
                        <label for="userId">Conta do usuário :</label>
                        <input [(ngModel)]="form.userId" maxlength="14"
                        [setFocus]='{"field": "password", "allowEmpty": false}'
                        type="text" class="form-control" id="userId" name="userId" 
                        (click)="showKeyboard({ 'fieldId': 'userId', 'isNumeric': true, 'maxLength': 11 })"
                        autocomplete="off" placeholder="informe o seu cpf">
                    </div>

                    <div *ngIf="useVK === false" class="form-group">
                        <label for="userId">Conta do usuário :</label>
                        <input [(ngModel)]="form.userId" maxlength="14" rsCpf
                        [setFocus]='{"field": "newPassword", "allowEmpty": false}'
                        type="text" class="form-control" id="userId" name="userId" 
                        autocomplete="off" placeholder="informe o seu cpf">
                    </div>

                    <div *ngIf="useVK === true" class="form-group">
                        <label for="password">Nova senha :</label>
                        <input [(ngModel)]="form.newPassword" maxlength="10"
                        [setFocus]='{"field": "repeatNewPassword", "allowEmpty": false}'
                        type="password" class="form-control" id="newPassword" name="newPassword" 
                        (click)="showKeyboard({ 'fieldId': 'newPassword', 'isPassword': true, 'maxLength': 10 })"
                        autocomplete="off" placeholder="Informe a nova senha">
                    </div>

                    <div *ngIf="useVK === false" class="form-group">
                        <label for="password">Nova senha :</label>
                        <input [(ngModel)]="form.newPassword" maxlength="10"
                        [setFocus]='{"field": "repeatNewPassword", "allowEmpty": false}'
                        type="password" class="form-control" id="newPassword" name="newPassword" 
                        autocomplete="off" placeholder="Informe a nova senha">
                    </div>

                    <div *ngIf="useVK === true" class="form-group">
                        <label for="password">Repita a nova senha :</label>
                        <input [(ngModel)]="form.repeatNewPassword" maxlength="10"
                        [setFocus]='{"field": "btnSend", "allowEmpty": false}'
                        type="password" class="form-control" id="repeatNewPassword" name="repeatNewPassword" 
                        (click)="showKeyboard({ 'fieldId': 'repeatNewPassword', 'isPassword': true, 'maxLength': 10 })"
                        autocomplete="off" placeholder="Repita a nova senha">
                    </div>

                    <div *ngIf="useVK === false" class="form-group">
                        <label for="password">Repita a nova senha :</label>
                        <input [(ngModel)]="form.repeatNewPassword" maxlength="10"
                        [setFocus]='{"field": "btnSend", "allowEmpty": false}'
                        type="password" class="form-control" id="repeatNewPassword" name="repeatNewPassword" 
                        autocomplete="off" placeholder="Repita a nova senha">
                    </div>

                </div>

            </div>
            <div class="col-sm-2"></div>
        </div>

    </form>

    <div class="row" style="margin-top:2vh;">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <button id="btnSend" (click)="doChangePassword()" [disabled]="disableSendButton()" type="button" class="btn btn-primary btn-block">Confirmar</button>
        </div>
        <div class="col-sm-4">
            <button id="btnCancel" (click)="onCancel()" type="button" class="btn btn-danger btn-block">Cancelar</button>
        </div>
        <div class="col-sm-2"></div>
    </div>        
</div>