<rs-text-dialog></rs-text-dialog>
<ng-vk-keyboard
    (onEnterClicked)="onEnterClicked($event)"
    (onCancelClicked)="onCancelClicked($event)">
</ng-vk-keyboard>

<div class="container">

    <div class="row" style="margin-top:2vh">

        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="form-header">
                <div class="text-center">Login</div>
            </div>
        </div>
        <div class="col-sm-1"></div>

    </div>
    
    <form>

        <div class="row" style="margin-top:2vh;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">

                <div class="form-content">

                    <div *ngIf="useVK === true" class="form-group">
                        <label for="userId">Conta do usuário :</label>
                        <input [(ngModel)]="form.userId" maxlength="14"
                        [setFocus]='{"field": "password", "allowEmpty": false}'
                        type="text" class="form-control" id="userId" name="userId" 
                        (click)="showKeyboard({ 'fieldId': 'userId', 'isNumeric': true, 'maxLength': 11 })"
                        autocomplete="off" placeholder="informe o seu cpf">
                    </div>

                    <div *ngIf="useVK === false" class="form-group">
                        <label for="userId">Conta do usuário :</label>
                        <input [(ngModel)]="form.userId" maxlength="14" rsCpf
                        [setFocus]='{"field": "password", "allowEmpty": false}'
                        type="text" class="form-control" id="userId" name="userId" 
                        autocomplete="off" placeholder="informe o seu cpf">
                    </div>

                    <div class="form-group">
                        <label for="password">Senha :</label>
                        <input [(ngModel)]="form.password" maxlength="8"
                        [setFocus]='{"field": "btnSend", "allowEmpty": false}'
                        type="password" class="form-control" id="password" name="password" 
                        (click)="showKeyboard({ 'fieldId': 'password', 'isPassword': true, 'maxLength': 8 })"
                        autocomplete="off" placeholder="Informe a sua senha">
                    </div>

                </div>

            </div>
            <div class="col-sm-3"></div>
        </div>

    </form>

    <div class="row" style="margin-top:2vh;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <button id="btnSend" (click)="doLogin()" [disabled]="disableSendButton()" type="button" class="btn btn-primary btn-block">Confirmar</button>
        </div>
        <div class="col-sm-3"></div>
    </div>        
</div>

